<ion-header>
  <ion-toolbar>
    <ion-title>Neue Notiz anlegen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <p>Sie sind angemeldet als <i>{{firebaseService.nutzername}}</i>.</p>

  &nbsp;

  <ion-list>

    <ion-item>
      <ion-label position="floating">Titel:</ion-label>
      <ion-input type="text" [(ngModel)]="notizTitel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Notiz:</ion-label>
      <ion-textarea rows="5" [(ngModel)]="notizBody"></ion-textarea>
    </ion-item>
  </ion-list>

  &nbsp;

  <ion-button expand="block" (click)="onNotizAnlegenButton()" color="primary">Notiz anlegen</ion-button>

  &nbsp;

  <ion-button expand="block" href="/notizenliste" routerDirection="forward" color="secondary">Zurück zur Liste mit allen Notizen</ion-button>

  &nbsp;

</ion-content>
