<ion-header>
  <ion-toolbar>
    <ion-title>Notizen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="firebaseService.istNutzerAngemeldet === true; else nichtAngemeldet">

    <p>Sie sind angemeldet als {{ firebaseService.nutzername }}.</p>

    &nbsp;

    <ion-button expand="block" (click)="notizenHolen()">Notizen holen</ion-button>

    &nbsp;

    <ion-button expand="block" href="/neuenotiz" routerDirection="forward" color="primary">Neue Notiz</ion-button>

    &nbsp;

    <ion-button expand="block" (click)="onAbmeldenButton()" color="danger">Abmelden</ion-button>
  
  </div>
  <ng-template #nichtAngemeldet>

    <p>Sie sind derzeit nicht angemeldet.</p>

  </ng-template>

</ion-content>
