<ion-header>
  <ion-toolbar>
    <ion-title>Notizen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div *ngIf="firebaseService.istNutzerAngemeldet === true; else nichtAngemeldet">

    <p>Sie sind angemeldet als <i>{{firebaseService.nutzername}}</i>.</p>

    &nbsp;

    <p>Anzahl Notizen: {{firebaseService.notizenArray.length}}</p>

    &nbsp;

    <ion-card *ngFor="let notiz of firebaseService.notizenArray">
      <ion-card-header>
        <ion-card-title>{{notiz.titel}}</ion-card-title>
        <ion-card-subtitle>Angelegt am: {{notiz.zeitstempel | date:'long' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
        <ion-button fill="outline" slot="start" color="danger" (click)="onNotizLoeschen(notiz.id)">Löschen</ion-button>
      </ion-item>
      <ion-card-content>{{notiz.inhalt}}</ion-card-content>
    </ion-card>

    &nbsp;

    <ion-button expand="block" href="/neuenotiz" routerDirection="forward" color="primary">Neue Notiz</ion-button>

    &nbsp;

    <ion-button expand="block" (click)="onAbmeldenButton()" color="danger">Abmelden</ion-button>

    &nbsp;

  </div>
  <ng-template #nichtAngemeldet>

    <p>Sie sind derzeit nicht angemeldet.</p>

  </ng-template>

</ion-content>
