<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notizen-App mit Firestore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="firebaseService.getNutzer() | async as nutzer; else nichtAngemeldet">

    <p>Sie sind angemeldet als {{nutzer.displayName}} ({{nutzer.email}}).</p>

  </div>
  <ng-template #nichtAngemeldet>

    <p>Sie sind derzeit nicht angemeldet.</p>

    &nbsp;

    <ion-button expand="block" href="/anmelden" routerDirection="forward">Anmelden</ion-button>

    <ion-button expand="block" href="/registrieren" routerDirection="forward">Registrieren</ion-button>


  </ng-template>

</ion-content>
