<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notizen-App mit Firestore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="firebaseService.istNutzerAngemeldet === true; else nichtAngemeldet">
    
    <p>Sie sind angemeldet als {{firebaseService.nutzername}}.</p>

    <ion-button expand="block" href="/notizenliste" routerDirection="forward" color="primary">Liste der Notizen</ion-button>

    <ion-button expand="block" (click)="firebaseService.abmelden()" color="danger">Abmelden</ion-button>

  </div>
  <ng-template #nichtAngemeldet>

    <p>Sie sind derzeit nicht angemeldet.</p>

    &nbsp;

    <ion-button expand="block" href="/anmelden" routerDirection="forward" color="primary">Anmelden</ion-button>

    <ion-button expand="block" href="/registrieren" routerDirection="forward" color="secondary">Registrieren</ion-button>

  </ng-template>

</ion-content>
